---
import siteData from '~/data/site';

export type Props = {
  title: string;
  description?: string;
  keywords?: string[];
};

const {
  title,
  description = siteData.description,
  keywords = siteData.keywords,
} = Astro.props;

const { siteName, siteUrl } = siteData;
---

<title>{title} | {siteName}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords.join(',').toLowerCase()} />
<meta name="robots" content="noindex, nofollow" />
<link rel="canonical" href={`${siteUrl}${Astro.url.pathname}`} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
